<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-3 main">
  <div class="header text-center">
    <h1 class="header-center">Todo Lists</h1>
  </div>
  
  <% @todo_lists.each do |todo_list| %>
  <div class="lists row well">
    <h2 class="list-title col-md-11">
      <%= link_to todo_list.title, todo_list %>
    </h2>
    <h4 class="list-del col-md-1">
      <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <h5 class="glyphicon glyphicon-remove"></h5>
      <% end %>
    </h4>
    <h5 class="list-desc">
      <%= todo_list.desc %>
    </h5>
    
  </div>
  <% end %>

  <div class="container new text-center">
    <h3>
      <%= link_to 'New Todo List', new_todo_list_path %>
    </h3>
  </div>
</div>