<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-3 main">
	<div class="list row well text-center">
	  <h3>
		  <%= @todo_list.title %>
	  </h3>
	  <h5>
		  <%= @todo_list.desc %>
	  </h5>
	</div>

	<div class="row well text-left">
		<%= render @todo_list.todo_items %>
		<div>
			<%= render "todo_items/form" %>
		</div>
	</div>
	<div class="new text-center">
	  <label> Only show uncompleted tasks?
	    <input id="checkUncompletedTasks" type="checkbox" unchecked>
    </label>
    <br>
		<%= link_to 'Back', todo_lists_path %>
	</div>
</div>