<p id="notice"><%= notice %></p>
<div class="col-md-6 col-md-offset-3 main">
	<div class="list row well text-center">
	  <h3>
		  <%= @todo_list.title %>
	  </h3>
	  <h5>
		  <%= @todo_list.desc %>
	  </h5>
	</div>

	<div class="row well text-left">
		<%= render @todo_list.todo_items %>
		<div>
			<%= render "todo_items/form" %>
		</div>
	</div>
	<div class="new text-center btn btn-info">
	  <label><bold id="filterText"> Only show uncompleted tasks?</bold>
	    <br>
	      <h3 class="glyphicon glyphicon-ok" id="tick"></h3>
		    <input id="checkUncompletedTasks" type="checkbox" unchecked hidden>
    </label>
  </div>
  <div class="new text-center btn btn-info back">
		<%= link_to 'Back', todo_lists_path %>
	</div>
</div>